<p id="notice"><%= notice %></p>

<h1>Utilisateurs</h1>

<table>
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilisateurs.each do |utilisateur| %>
      <tr>
        <td><%= utilisateur.pseudo %></td>
        <td><%= utilisateur.password %></td>
        <td><%= link_to 'Show', utilisateur %></td>
        <td><%= link_to 'Edit', edit_utilisateur_path(utilisateur) %></td>
        <td><%= link_to 'Destroy', utilisateur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utilisateur', new_utilisateur_path %>
