<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @utilisateur.pseudo %>
</p>

<p>
  <strong>Password:</strong>
  <%= @utilisateur.password %>
</p>

<%= link_to 'Edit', edit_utilisateur_path(@utilisateur) %> |
<%= link_to 'Back', utilisateurs_path %>
