<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @film.titre %>
</p>

<p>
  <strong>Date sortie:</strong>
  <%= @film.date_sortie %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @film.synopsis %>
</p>

<p>
  <strong>Catégorie:</strong>
  <%=@film.categorie.libelle%>
</p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
