<!DOCTYPE html>
<html>
<head>
  <title>StreamF</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<%= render partial: "layouts/header" %>
<%= yield %>
<%= render partial: "layouts/footer" %>

<%= javascript_include_tag 'application' %>
</body>
</html>